.content {
    padding-top: 100px;
    padding-bottom: 50px;
}
.dashboard-link {
    float: left;
    width: 100%;
    background: #0b3e69;
    height: 90%;
    min-height: initial;
    margin-right: 0;
    padding: 20px;
    margin-bottom: 20px;
}
.dashboard-link ul {
    font-size: 16px;
}
.dashboard-link li {
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.dashboard-link li a {
    font-size: 16px;
    line-height: 1;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
.dashboard-link li a:hover {
    color: #fff;
}
.main-content {
  float: none;
  width: 100%
}
.login-page.main-content {
    float: none;
    width: 100%
  }
.dashboard-form {
    max-width: 400px;
}
.login-form {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}
.forget-pwd {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    color: #379aff;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
.forget-pwd:hover {
    color: #1B82EC;
}
.property-form {
    max-width: 400px;
    width: 100%;
}
.page-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.latlang-wrap input {
    width: 95%;
    width: calc(100% - 30px);
    width: -webkit-calc(100% - 30px);
    width: -moz-calc(100% - 30px);
    float: left;
}
.latlang-wrap span {
    width: 30px;
    text-align: center;
    float: left;
}
#map {
    width: 100%;
    height: 300px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    max-width: 460px;
    width: 100%;
}

/* The Close Button */
.close {
    color: #1d2e7b;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: -20px;
    margin-top: -24px;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
}

.mapping-form {
    max-width: 500px;
    width: 100%;
}
.middle-box { 
    border: 1px solid #ccc;
    width: 14%;
    margin: 0 3%;
    float: left;
    height: 200px;
    overflow-y: scroll;
}
.left-box, .right-box {
    border: 1px solid #ccc;
    width: 40%;
    float: left;
    overflow-y: scroll;
}
.mapping-wrap select {
    height: 200px;
}
.mapping-wrap select option {
    padding: 5px 5px;
}
.middle-box {
    padding: 50px 0;
}
.middle-box button {
    text-decoration: none;
    font-size: 30px;
    display: block;
    text-align: center;
    margin: 10px auto;
    cursor: pointer;
}
.mapping-wrap {
    margin-bottom: 30px;
}


@media screen and (min-width: 768px) {
    .content {
        padding-top: 60px;
    }
.dashboard-link {
    float: left;
    width: 25%;
    min-height: 500px;
    margin-right: 5%;
}
.main-content {
    float: left;
    width: 70%
  }
}

table {  
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 1400px; 
    border-spacing: 10px;
    border-collapse: separate;
}

td, th {  
    border: 1px solid transparent; /* No more visible border */
    height: 30px; 
    transition: all 0.3s;  /* Simple transition for hover effect */
    padding: 6px;
}

th {  
    background: #DFDFDF;  /* Darken header a bit */
    font-weight: bold;
    padding: 6px;
}

td {  
    background: #FAFAFA;
    text-align: center;
    padding: 6px;
}

/* Cells in even rows (2,4,6...) are one color */        
tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */        
tr:nth-child(odd) td { background: #FEFEFE; }  

tr td:hover { background: #666; color: #FFF; }  
/* Hover cell effect! */